*.o
*.make
*.dylib
*.marks
*cache
*.dat
*.internal
*.hepmc
*.*~
.DS_Store
html/*
build*/*
notebooks*/*
.vscode/*
external_packages/LBT*
external_packages/iSS*
external_packages/music*
examples/test_hydro_files/
external_packages/freestream-milne/
external_packages/smash/smash_code/
external_packages/ipglasma
external_packages/Cornelius/lib/*
external_packages/Cornelius/libCornelius.*
fno_hydro/model*
fno_hydro/libtorch
fno_hydro/libtorch/*
fno_hydro/input_root
*__cmake*
*__pycache*
*.cpython*
*.bak
